#about {
    min-height: 100vh;
    @extend .flex-container;
    @extend .flex-justify-center;
    @extend .flex-align-center;
    @extend .flex-column;

    .about-image img {
        width: 100%;
    }

    .about-content {
        p {
            @extend .px-5;

            color: map-get($colors, natural);
        }
    }
}