// nav bar section sticky style
#main {
    @extend .flex-container;
    @extend .flex-justify-center;
    @extend .flex-align-center;
    @extend .flex-column;

    color: map-get($colors, natural);
    background-image: url('../images/gym.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
